<h1>Thanks!</h1>

<div style="float:left; width:45%; text-align:center;">
<%= link_to "#{image_tag('twitter_128.png')}Tweet This!".html_safe, @member.twitter_link %>
</div>

<div style="float:left; width:10%;"><br/><br/><br/>or</div>

<div style="float:left; width:45%; text-align:center;">
<%= link_to "#{image_tag('facebook_128.png')}Share on Facebook".html_safe, @member.facebook_link %>
</div>